<!-- Carousel container -->
<div id="testimonialCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonialCarousel" data-slide-to="1"></li>
      <li data-target="#testimonialCarousel" data-slide-to="2"></li>
      <li data-target="#testimonialCarousel" data-slide-to="3"></li>
      <li data-target="#testimonialCarousel" data-slide-to="4"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
  
    <!-- First slide -->
    <div class="item active">
      <div class="testimonial">
        <p>"Ben was incredibly generous with the time he carved out for his students and the help and guidance he offered us. Beyond being available for office hours on a weekly basis, he was accessible throughout the week. He explains tricky concepts with great clarity and practical applications, and also complements material taught in the classroom by showing us applications of concepts in R. Additionally, Ben made clear from an early point in the semester that he is available for his students as a resource, and provided students with guidance about the doctoral program and the political science discipline more broadly."</p>
          <p><strong>- Jane Doe</strong></p>
      </div>
    </div>
  
    <!-- Second slide -->
    <div class="item">
      <div class="testimonial">
        <p>"Ben demonstrated principles of equity and inclusion very well. He makes space for all of his students and also consistently demonstrated a willingness to meet students where they are at, meaning that he tailored his teaching and mentoring style to the unique learning and personal needs of students regardless of the level of skill or familiarity they had."</p>
        <p><strong>- John Smith</strong></p>
      </div>
    </div>
  
    <!-- Third slide -->
    <div class="item">
      <div class="testimonial">
        <p>"Ben explained all the concepts in the course really well, even after I had repeated asked and also beyond his office hours. Ben is very accessible and a great teacher. He has modified explanations for concepts in ways I that adhered to my method of understanding."</p>
        <p><strong>- Emily Johnson</strong></p>
      </div>
    </div>
  
    <!-- Fourth slide -->
    <div class="item">
      <div class="testimonial">
        <p>"Ben was incredible! His discussion section was always interesting yet informative. His knowledge on the research paper was especially helpful and he was available to meet when I had questions about it."</p>
        <p><strong>- Emily Johnson</strong></p>
      </div>
    </div>
  
    <!-- Fifth slide -->
    <div class="item">
      <div class="testimonial">
        <p>"Ben always validated differing opinions and supported all students equally."</p>
        <p><strong>- Emily Johnson</strong></p>
      </div>
    </div>
  
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#testimonialCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#testimonialCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  
  </div>